/*https://www.youtube.com/watch?v=FL_odxf4zq4&t=137s*/

body {
        margin: 0;
        font-family: sans-serif;
        background-image: url(./image/wallpaper.jpg);
        color: rgb(246, 242, 242);
                     
    
    }

header {
        width: 100%;
        height: 70px;
        /* background: linear-gradient(#a3a0a0, #72737e); */
        background: rgba(80, 78, 78, 0.548);
}

#btn-menu {
        display:none;
}


header label {
        display: none;
        width: 30px;
        height: 30px;
        padding: 10px;
        /* border-right: 1px solid #fff; */
}

header label:hover {
        cursor: pointer;
        background: rgba(80, 78, 78, 0.061);
}

.menu ul {
        margin: 0;
        list-style: none;
        padding: 0;
        display: flex;
    
}

/* .menu li {
    border-right: 1px solid #fff
   
} */

.menu li a {
        display: block;
        padding: 25px 20px;
        color: rgb(246, 242, 242);
        text-decoration: none;
}

.articles {
    
    margin: 10%;
    transition: 2000ms;
    display: flex;
    justify-content: center;
    flex-grow: inherit;
   
    
}
/* cards */
.card img{
    display: flex;
    margin-left: 0px;
    justify-content:center;
    height: 130px;
}
.card {
   
    color: silver;
    text-align: center;
    height: 250px;
    margin: 2px;
    /* background-color: rgba(247, 253, 253, 0.383);  */
    border-radius: 20px;
    }

.card-formation{
    display: flex;
    justify-content:center;
    flex-direction: column;
    background: rgba(65, 59, 59, 0.678);
    width: 50%;
    margin: auto;
    margin-top: 20%;
    text-align: center;
    border-radius: 10px;
    padding:40px;
}
/* cards */
.slider {
    opacity: 30%;
    width: 100%;
    margin:auto;
    overflow: hidden;
}

.slider ul {
    display: flex;
    padding: 0;
    width: 400%;

    animation: cambio 15s infinite;

} 

.slider li {
    
    width: 100%;
    list-style: none;
    
}

.slider img {
    
    width: 100%;
    height: 80%;
}

/* footer */
span{
    text-align: left;
    margin-left: -100px;
    color:silver;
}

.social-main {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 60px;
    background:rgba(80, 78, 78, 0.548);
}

a{
    color: silver;
}


    







    
    

